.App {
  padding: 5rem 9rem; /*3rem 5rem*/
  background-color: #78C0A8; /* #ef795a;*/
}
.componentTitle {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid blue;
}
.componentTitle h1{
  padding-left: 1rem;
  display: inline;
}
.componentTitleLeftSidebar {
  border-bottom: 3px solid black;
}
.leftSideHeader h3{
	text-align:center;
	text-transform: uppercase;
}
blockquote {
  font-size: 1.4em;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px!important;
  border-left:8px solid #78C0A8!important;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}
blockquote:before {
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}
blockquote:after {content: '';}

blockquote cite {
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.skillsDetails ul li .skillsTitleSet {
  font-weight: 500;
}
.subSkillsDetails ul {
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.socialDetails {
	align: center;
}
.socialDetails li {
	display: inline-block;
	margin: .4rem;
}.socialDetails li:hover{
	cursor: pointer;
}
.facebook svg:hover,
.facebook svg:focus {
fill: #3b5998;
}.twitter svg:hover,
.twitter svg:focus {
fill: #77DDF6;
}.github svg:hover,
.github svg:focus {
fill: black;
}.bitbucket svg:hover,
.bitbucket svg:focus {
fill: #003366;
}.linkedin svg:hover,
.linkedin svg:focus {
fill: #0177B5;
}.instagram svg:hover,
.instagram svg:focus {
fill: url(#instagramFill);/*radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);*/
}
.contactDetails li {
	display: inline-flex;
}
.contactDetails li svg {
	width: 10%;
}
.contactDetails li span {
	width: 90%;
	vertical-align: top;
	margin-left:.2rem;
	word-wrap: anywhere;
}
/* Timeline sample 1 */
.timeline-1 {
  color: #768390;
  background: #FFF;
  font-family: "Effra", Helvetica, sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline-1 .timeline {
	list-style: none;
}

.timeline-1 h1,.timeline-1 h2,.timeline-1 h3,.timeline-1 h4,.timeline-1 h5,.timeline-1 h6 {
  color: #3D4351;
  margin-top: 0;
  line-height: .9;
}

.timeline-1 a {
  color: #FF6B6B;
}
.timeline-1 a:hover {
  color: #ff9a9a;
  text-decoration: none;
}


.timeline-1 .timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-1 .timeline-item:last-child {
  padding-bottom: 0;
}

.timeline-1 .timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.timeline-1 .marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}

.timeline-1 .marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}
.timeline-1 .timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-1 .timeline-marker:before {
  background: #FF6B6B;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-1 .timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-1 .timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-1 .timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FF6B6B;
}

.timeline-1 .timeline-content {
  padding-bottom: 40px;
}
.timeline-1 .timeline-content h2 span {
  font-size: 1rem;
}
.timeline-1 .timeline-content p {
  width: inherit;
}
.timeline-1 .timeline-content p:last-child {
  margin-bottom: 0;
}
.timeline-1 .period {
  padding: 0;
}
.timeline-1 .period .timeline-info {
  display: none;
}
.timeline-1 .period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.timeline-1 .period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.timeline-1 .period .timeline-content {
  padding: 40px 0 70px;
}
.timeline-1 .period .timeline-title {
  margin: 0;
}


/* Timeline sample 2 */

.timeline-2 {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.timeline-2 ul.timeline li { list-style:none;}
.timeline-2 .timeline {
  /* margin: 4em auto; */
  position: relative;
  min-width: inherit; 
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.timeline-2 .timeline:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: .2em;
  width: 2px;
  height: 100%;
}

.timeline-2 .timeline-event {position: relative;}
.timeline-2 .timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: .2em;
  width: 1em;
  height: 1em;
}

.timeline-2 .timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em black;/*#ef795a;*/
  -webkit-box-shadow: inset 0 0 0 0em black;/*#ef795a;*/
  box-shadow: inset 0 0 0 0em black;/*#ef795a;*/
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}
.timeline-2 .timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: black; /*#a83279;*/
}
.timeline-2 .timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 black; /*#a83279;*/
  -webkit-box-shadow: inset 40em 0 0 0 black; /*#a83279;*/
  box-shadow: inset 40em 0 0 0 black; /*#a83279;*/
}

.timeline-2 .timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: .4em;
  width: 80%;
  padding-bottom: 0;
}
.timeline-2 .timeline-event-copy h3 {
  font-size: 1.75em;
}
.timeline-event-copy h4 {font-size: 1.2em;margin-bottom: 1.2em;}
.timeline-2 .timeline-event-copy strong {font-weight: 700;}
.timeline-2 .timeline-event-copy p:not(.timeline-event-thumbnail) {padding-bottom: 0.2em;}

@media screen and (max-width: 1000px) {
	.App {
		padding: 3rem 3rem;
	}
	.timeline-2 .timeline {
		min-width: inherit;
	}
	.socialDetails li {
		margin: .2rem;
	}
	blockquote {
		font-size: 1em;
	}
}
@media screen and (max-width: 480px) {
	.App {
		padding: 1rem 1rem;
	}
	.timeline-2 .timeline {
		min-width: inherit;
	}
	blockquote {
		font-size: 1em;
	}
}