.App {
  padding: 5rem 9rem; /*3rem 5rem*/
  background-color: #ef795a;
}
.componentTitle {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid blue;
}
.componentTitle h1{
  padding-left: 1rem;
  display: inline;
}
blockquote {
  font-size: 1.4em;
  width:90%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px!important;
  border-left:8px solid #78C0A8!important;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}
blockquote:before {
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}
blockquote:after {content: '';}

blockquote cite {
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/* Timeline sample 1 */
.timeline-1 {
  color: #768390;
  background: #FFF;
  font-family: "Effra", Helvetica, sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline-1 .timeline {
	list-style: none;
}

.timeline-1 h1,.timeline-1 h2,.timeline-1 h3,.timeline-1 h4,.timeline-1 h5,.timeline-1 h6 {
  color: #3D4351;
  margin-top: 0;
  line-height: inherit;
}

.timeline-1 a {
  color: #FF6B6B;
}
.timeline-1 a:hover {
  color: #ff9a9a;
  text-decoration: none;
}


.timeline-1 .timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-1 .timeline-item:last-child {
  padding-bottom: 0;
}

.timeline-1 .timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.timeline-1 .marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}

.timeline-1 .marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}
.timeline-1 .timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-1 .timeline-marker:before {
  background: #FF6B6B;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-1 .timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-1 .timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-1 .timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FF6B6B;
}

.timeline-1 .timeline-content {
  padding-bottom: 40px;
}
.timeline-1 .timeline-content p:last-child {
  margin-bottom: 0;
}
.timeline-1 .period {
  padding: 0;
}
.timeline-1 .period .timeline-info {
  display: none;
}
.timeline-1 .period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.timeline-1 .period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.timeline-1 .period .timeline-content {
  padding: 40px 0 70px;
}
.timeline-1 .period .timeline-title {
  margin: 0;
}


/* Timeline sample 2 */

.timeline-2 {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.timeline-2 ul.timeline li { list-style:none;}
.timeline-2 .timeline {
  /* margin: 4em auto; */
  position: relative;
  min-width: 46em; 
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.timeline-2 .timeline:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: .2em;
  width: 2px;
  height: 100%;
}

.timeline-2 .timeline-event {position: relative;}
.timeline-2 .timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: .2em;
  width: 1em;
  height: 1em;
}

.timeline-2 .timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em black;/*#ef795a;*/
  -webkit-box-shadow: inset 0 0 0 0em black;/*#ef795a;*/
  box-shadow: inset 0 0 0 0em black;/*#ef795a;*/
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}
.timeline-2 .timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: black; /*#a83279;*/
}
.timeline-2 .timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 black; /*#a83279;*/
  -webkit-box-shadow: inset 40em 0 0 0 black; /*#a83279;*/
  box-shadow: inset 40em 0 0 0 black; /*#a83279;*/
}

.timeline-2 .timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: .4em;
  width: 80%;
  padding-bottom: 0;
}
.timeline-2 .timeline-event-copy h3 {
  font-size: 1.75em;
}
.timeline-event-copy h4 {font-size: 1.2em;margin-bottom: 1.2em;}
.timeline-2 .timeline-event-copy strong {font-weight: 700;}
.timeline-2 .timeline-event-copy p:not(.timeline-event-thumbnail) {padding-bottom: 0.2em;}

/* Timeline sample 3*/
.timeline-3 {padding: 40px 0;}
.timeline-3 .main-timeline {
  font-family: tahoma;padding: 20px 0;position: relative;
}

.timeline-3 .main-timeline::before,
.timeline-3 .main-timeline::after {
  content: "";
  height: 40px;
  width: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 10px solid #303334;
  transform: translatex(-50%);
  position: absolute;
  left: 50%;
  top: -15px;
  z-index: 2;
}

.timeline-3 .main-timeline::after {
  top: auto;
  bottom: 15px;
}

.timeline-3 .main-timeline .timeline {
  padding: 35px 0;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.timeline-3 .main-timeline .timeline::before,
.timeline-3 .main-timeline .timeline::after {
  content: "";
  height: 100%;
  width: 50%;
  border-radius: 110px 0 0 110px;
  border: 15px solid #46b2bc;
  border-right: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.timeline-3 .main-timeline .timeline::after {
  height: calc(100% - 30px);
  width: calc(50% - 12px);
  border-color: #65c7d0;
  left: 12px;
  top: 15px;
}

.timeline-3 .main-timeline .timeline-content {
  display: inline-block;
}

.timeline-3 .main-timeline .timeline-content:hover {
  text-decoration: none;
}

.timeline-3 .main-timeline .timeline-year {
  color: #65c7d0;
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
  transform: translatey(-50%);
  position: absolute;
  top: 50%;
  left: 10%;
}

.timeline-3 .main-timeline .timeline-icon {
    color: #65c7d0;
    font-size: 70px;
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    left: 34%;
    top: 50%;
}

.timeline-3 .main-timeline .content {
  color: #909090;
  width: 50%;
  padding: 20px;
  display: inline-block;
  float: right;
}

.timeline-3 .main-timeline .title {
  color: #65c7d0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.timeline-3 .main-timeline .description {
  font-size: 16px;
  margin: 0;
}

.timeline-3 .main-timeline .timeline:nth-child(even)::before {
  left: auto;
  right: 0;
  border-radius: 0 110px 110px 0;
  border: 15px solid red;
  border-left: none;
}

.timeline-3 .main-timeline .timeline:nth-child(even)::after {
  left: auto;
  right: 12px;
  border-radius: 0 100px 100px 0;
  border: 15px solid green;
  border-left: none;
}

.timeline-3 .main-timeline .timeline:nth-child(even) .content {
  float: left;
}

.timeline-3 .main-timeline .timeline:nth-child(even) .timeline-year {
    left: auto;
    right: 10%;
}

.timeline-3 .main-timeline .timeline:nth-child(even) .timeline-icon {
  left: auto;
  right: 32%;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+1)::before {
  border-color: #46b2bc;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+1)::after {
  border-color: #65c7d0;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+1) .timeline-icon {
  color: #65c7d0;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+1) .timeline-year {
  color: #65c7d0;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+1) .title {
  color: #65c7d0;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+2)::before {
  border-color: #ea3c14;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+2)::after {
  border-color: #EF5720;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+2) .timeline-icon {
  color: #EA3C14;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+2) .timeline-year {
  color: #EA3C14;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+2) .title {
  color: #EA3C14;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+3)::before {
  border-color: #8CC63E;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+3)::after {
  border-color: #6CAF29;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+3) .timeline-icon
{
  color: #8CC63E;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+3) .timeline-year {
  color: #8CC63E;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+3) .title {
  color: #8CC63E;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+4)::before {
  border-color: #F99324;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+4)::after {
  border-color: #FBB03B;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+4) .timeline-icon {
  color: #F99324;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+4) .timeline-year {
  color: #F99324;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+4) .title {
  color: #F99324;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+5)::before {
  border-color: #0071BD;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+5)::after {
  border-color: #0050A3;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+5) .timeline-icon {
  color: #0071BD;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+5) .timeline-year {
  color: #0071BD;
}

.timeline-3 .main-timeline .timeline:nth-child(5n+5) .title {
  color: #0071BD;
}

@media screen and (max-width:1200px){
    .timeline-3 .main-timeline .timeline:after{ border-radius: 88px 0 0 88px; }
    .timeline-3 .main-timeline .timeline:nth-child(even):after{ border-radius: 0 88px 88px 0; }
}
@media screen and (max-width:767px){
    .timeline-3 .main-timeline .timeline{ margin-top: -19px; }
    .timeline-3 .main-timeline .timeline:before {
        border-radius: 50px 0 0 50px;
        border-width: 10px;
    }
    .timeline-3 .main-timeline .timeline:after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 43px 0 0 43px;
        border-width:10px;
        top: 9px;
        left: 9px;
    }
    .timeline-3 .main-timeline .timeline:nth-child(even):before {
        border-radius: 0 50px 50px 0;
        border-width: 10px;
    }
    .timeline-3 .main-timeline .timeline:nth-child(even):after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 0 43px 43px 0;
        border-width: 10px;
        top: 9px;
        right: 9px;
    }
    .timeline-3 .main-timeline .timeline-icon{ font-size: 60px; }
    .timeline-3 .main-timeline .timeline-year{ font-size: 40px; }

}
@media screen and (max-width:479px){
    .timeline-3 .main-timeline .timeline-icon{
        font-size: 50px;
        transform:translateY(0);
        top: 25%;
        left: 10%;
    }
    .timeline-3 .main-timeline .timeline-year{
        font-size: 25px;
        transform:translateY(0);
        top: 65%;
        left: 9%;
    }
    .timeline-3 .main-timeline .content{
        width: 68%;
        padding: 10px;
    }
    .timeline-3 .main-timeline .title{ font-size: 18px; }
    .timeline-3 .main-timeline .timeline:nth-child(even) .timeline-icon{
        right: 10%;
    }
    .timeline-3 .main-timeline .timeline:nth-child(even) .timeline-year{
        right: 9%;
    }
}
